.container {
    margin: 10px 10px;
}

.details {
    position: relative; 
    margin-top:8px;
    margin-left: 10px;
    margin-right: 10px;
}

.flex-container {
    display: flex
}

.flex-container span {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
} 